<%= render "shared/returnbar" %>
<div class="container-fluid pb-5">
  <h1 class="main-title">CHALLENGES</h1>
  <h2 class="section-title">TODAY'S SELECTION</h2>

  <div class="scrolling-wrapper">

      <% @daily_challenges.each do |daily_challenge| %>
        <%= link_to challenge_path(daily_challenge.id) do %>
          <div class="challenge-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= daily_challenge.challenge_category.image %>)">
            <%= daily_challenge.name %>
          </div>
        <% end %>
      <% end %>
    </div>

  <h2 class="section-title">ONGOING CHALLENGES</h2>



      <% @my_ongoing_challenge.each do |my_challenge| %>
        <%= link_to my_challenge_path(my_challenge.id) do %>
          <div class="ongoing-challenge-card" style="url(<%= my_challenge.challenge.challenge_category.image %>)">
            #<%= my_challenge.challenge.name%>
            <p style="font-size: 12px"><%= my_challenge.start_time.strftime('%m/%d/%Y') %> - <%= my_challenge.end_time.strftime('%m/%d/%Y')  %></p>
              <% today = DateTime.now.utc
              progress_helper_total = my_challenge.end_time - my_challenge.start_time
              progress_helper_unique = today - my_challenge.start_time
              @progress = (progress_helper_unique / progress_helper_total)*100
              %>
              <div>
                  <div class="challenge-progress">
                    <div class="bar text-center " style="width: <%= @progress.round(2)%>%">
                     <!--  if we want the percentage to appear we can add it here -->
                    </div>
                  </div>
              </div>
            </div>
        <% end %>
      <% end %>


  <h2 class="section-title">COMPLETED CHALLENGES</h2>


      <% @my_complete_challenges.each do |my_challenge| %>
        <div class="completed_challenge_card" >
        <%= my_challenge.challenge.name %>
        <p style="font-size: 12px">Completed on: <%= my_challenge.end_time.strftime('%m/%d/%Y') %></p>
        </div>
      <% end %>

  <div class="centered-element">
    <%= link_to "Pick a new challenge", challenges_path, class: "btn-gradient" %>
  </div>

<% if MyFish.where(alive: true).count == 0 %>
<%= render "shared/msg_need_to_adopt_a_fish" %>
    <script>
      document.querySelector('.fish-modal').classList.toggle('show-modal')
    </script>
<% end %>

</div>
 <%= render "shared/navbar" %>
