<h1>Here are your current challenges</h1>
<h2>Ongoing Challenges</h2>

<% @my_ongoing_challenges.each do |my_challenge| %>
<p>
<%= my_challenge.challenge.description %>
</p>
<p>
<%= my_challenge.start_time %> - <%= my_challenge.end_time %>
</p>
<% today = DateTime.now.utc
    progress_helper_total =  my_challenge.end_time - my_challenge.start_time
    progress_helper_unique = today - my_challenge.start_time
    @progress = (progress_helper_unique / progress_helper_total)*100
     %>
<p>Your progress is
    <%= @progress.round(2) %>
    %
</p>

<%= link_to "More info", my_challenge_path(my_challenge) %>

<% end %>

<h2>Completed Challenges</h2>

<% @my_completed_challenges.each do |my_challenge| %>
<p>
<%= my_challenge.challenge.description %>
</p>
<p> Completed at:
<%= my_challenge.end_time %>
</p>
<% end %>
