<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "#", class: "d-flex justify-content-center align-items-center flex-column" do %>
          <%= image_tag "my-fish.svg", alt: "alttext", class: "mt-2 menu-svg"%>
          <p class="nav-link py-0">My Fish</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "d-flex justify-content-center align-items-center flex-column" do %>
          <%= image_tag "my-fish.svg", alt: "alttext", class: "mt-2 menu-svg" %>
          <p class="nav-link py-0">Challenges</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "d-flex justify-content-center align-items-center flex-column" do %>
          <%= image_tag "my-fish.svg", alt: "alttext", class: "mt-2 menu-svg" %>
          <p class="nav-link py-0">Impact</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "d-flex justify-content-center align-items-center flex-column" do %>
          <%= image_tag "my-fish.svg", alt: "alttext", class: "mt-2 menu-svg" %>
          <p class="nav-link py-0">Profile</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
