<div class="footer-navbar d-flex justify-content-around align-items-center">
  <div class="nav-item">
    <% if MyFish.where(alive: true, user_id: current_user.id).empty? %>
      <%= link_to fishes_path , class: "#{ controller_name == "fishes" ? 'active-tab' : "inactive-tab" } yo d-flex justify-content-center align-items-center flex-column" do %>
      <i class="fas fa-fish"></i>
      <p class="nav-link-footer py-0">ADOPT</p>
      <% end %>
    <% else %>
      <%= link_to my_fish_path(@my_fish), class: "#{ controller_name == "my_fishes" ? 'active-tab' : "inactive-tab" } yo d-flex justify-content-center align-items-center flex-column" do %>
      <i class="fas fa-fish"></i>
      <p class="nav-link-footer py-0" style="font-weight: 700"; >MY FISH</p>
      <% end %>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to my_challenges_path, class: "#{ controller_name == "my_challenges" ? 'active-tab' : "inactive-tab" } d-flex justify-content-center align-items-center flex-column" do %>
    <i class="fas fa-tasks"></i>
    <p class="nav-link-footer py-0" style="font-weight: 700;">CHALLENGES</p>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to "/impact", class: "#{ controller_name == "impact" ? 'active-tab' : "inactive-tab" } d-flex justify-content-center align-items-center flex-column" do %>
    <i class="fas fa-tree"></i>
    <p class="nav-link-footer py-0" style="font-weight: 700;">IMPACT</p>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to profile_path, class: "#{ controller_name == "profile" ? 'active-tab' : "inactive-tab" } d-flex justify-content-center align-items-center flex-column" do %>

      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
      <% if current_user.facebook_picture_url %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu" %>
    <p class="nav-link-footer py-0" style="font-weight: 700;">PROFILE</p>
      <% elsif current_user.avatar %>
        <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu" %>
    <p class="nav-link-footer py-0" style="font-weight: 700;">PROFILE</p>
      <% else %>
    <i class="fas fa-user"></i>
    <p class="nav-link-footer py-0" style="font-weight: 700;">PROFILE</p>
      <% end %>

    <% end %>
  </div>
</div>

