<div class="container-fluid">

  <h1 class="main-title"><%= @my_fish.breed.upcase %> : LIVE REPORT</h1>

  <h2 class="section-title">GENERALITIES</h2>

  <div class="fish-index-card" style="width: 250px !important; margin: 16px auto;">
    <div class="fish-wrapper" >
      <%= @my_fish.breed %>
      <%= image_tag "myfish_#{@my_fish.red_list_id}", class: "fish-img" %>
    </div>
  </div>
</div>
    <div class="container">
<ul>
  <li><strong>Red List Status: </strong><%= @status %></li>
  <li><strong>Population Trend: </strong><%= @population_trend %></li>
  <li><strong>Threats: </strong> <%= @threats.first %>
    <% if @threats.count > 1 %>
    <i class="fas fa-chevron-down"></i></br>
    <% end %>
    <span class="read-more" style>
      <% @threats.each do |threat| %>
      <%= threat unless @threats.index(threat) == 0 %>
    </br>
    <% end %>
  </span>
</li>
</ul>
</div>
</div>
</div>

<script>
  const arrowDown = document.querySelector(".fa-chevron-down")
  const readMore = document.querySelector(".read-more")
  arrowDown.addEventListener("click", (e) => {
    readMore.classList.toggle("read-more")
  });

</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<%= javascript_tag do -%>
google.charts.load('current', {
'packages':['geochart'],
'mapsApiKey': 'AIzaSyDBo3veNnvPCoNh-mj_p4oM5wDdeFUO1vs'
});
google.charts.setOnLoadCallback(drawRegionsMap);

function drawRegionsMap() {
var data = JSON.parse('<%= @country_info.to_json.html_safe -%>');
var data = google.visualization.arrayToDataTable(data);

var options = {
title: 'Habitat',
colorAxis: {colors: ['#E3F7F7', '#28C3D4', '#248EA9']},
legend: 'none',
tooltip: {trigger: 'none'},
};

var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
chart.draw(data, options);
}
<% end -%>
<div class="container">
  <h2 class="section-title">HABITAT</h2>
</div>
<div id="regions_div" class="chart">
</div>

<div class="map_legend">
  <div><p><i class="fas fa-circle" style="color: #248EA9"></i> Native</p></div>
  <div><p><i class="fas fa-circle" style="color: #28C3D4"></i> Reintroduced</p></div>
  <div><p><i class="fas fa-circle" style="color: #E3F7F7"></i> Regionally Extinct</p></div>
</div>


<div class="container">
  <h2 class="section-title">HISTORIC EVOLUTION</h2>
</div>
<div class="timeline">
  <% @timeline.each do |year| %>
  <% if @timeline.index(year).odd? %>
  <div class="timeline-container right">
    <% else %>
    <div class="timeline-container left">
      <% end %>
      <div class="content">
        <h2><%= year["year"] %></h2>
        <p><%= year["category"] %></p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container">
    <h2 class="section-title">AKNOWLEDGEMENT</h2>
    <div class="aknowledgement">
        <p>The data on this page is provided by the IUCN</p>
        <p> IUCN (2019). <a href="https://www.iucnredlist.org">IUCN Red List</a> of Threatened Species. V2019-2
      <div class="d-flex align-items-center">
        <div >
          <%= image_tag 'IUCN_logo.png', id: "iucn-logo" %>
        </div>

        <div>
          <p>Created in 1948, IUCN has evolved into the world’s largest and most diverse environmental network. Composed of of 15,000 experts. IUCN is the global authority on the status of the natural world and the measures needed to safeguard it.</p>
        </div>

      </div>

    </div>
  </div>

  <%= render 'shared/navbar' %>


