<div class="form-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: 'EMAIL',
                label: false %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                placeholder: 'PASSWORD',
                label: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions  centered-element">
    <%= f.button :submit, "Log in", class: "btn-gradient"%>
  </div>

  <p class=" form-actions centered-element">or Sign In using</p>

  <div class="form-actions centered-element">
    <%= link_to "Log In with Facebook", user_facebook_omniauth_authorize_path, class: "btn-fb" %>
  </div>

<% end %>

</div>


