<%= image_tag @my_fish.fish.fish_avatar %>
<p>Species: <%= @my_fish.fish.breed %></p>
<p>Location: <%= @my_fish.fish.location %></p>
<p>Age: <%= @my_fish.age %></p>
<p>Life Expectancy: <%= @my_fish.fish.max_age %></p>
<p>HEALTH: <%= @my_fish.score_health %></p>
<p>HAPPINESS: <%= @my_fish.score_happiness %></p>
<p>Alive?: <%= @my_fish.alive %></p>
<p>Survival Probability:
<% if @death_probability <= 0 %>
100%
<% else %>
  <%=100 - @death_probability %>%</p>
  <% end %>


