
<div class="my-fish-container container" style="height: 100vh">
  <div class="my-fish-show-card card">
    <%= image_tag @my_fish.fish.fish_avatar, class: "centered", width:"50%"%>
    <div class="fish-show-card-body">
      <div><p><strong>Species:</strong><br><%= @my_fish.fish.breed %></p></div>
      <div><p><strong>Location:</strong><br><%= @my_fish.fish.location %></p></div>
      <div><p><strong>Age:</strong><br><%= pluralize(@my_fish.age, 'year') %> old</p></div>
    </div>
    <div class="my-fish-bar">
      <div>
        <p><strong>HEALTH</strong></p>
        <div class="container">
          <div class="progress">
            <div class="bar text-center health-bar" style="width: <%= @my_fish.score_health %>%">
               <%= @my_fish.score_health %> %
            </div>
          </div>
        </div>
      </div>
      <div class="happiness-bar"><p><strong>HAPPINESS</strong><br></p><div class="happiness-stars">
          <% @my_fish.score_happiness.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% if @my_fish.score_happiness%1 > 0 %>
            <i class="fas fa-star-half-alt"></i>
          <% end %>
          <% (5 - @my_fish.score_happiness).to_i.times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>



</div>

<%= render "shared/navbar", locals: {my_fish: @my_fish} %>

<div class="bubbles bubble-1"></div>
<div class="bubbles bubble-2"></div>
<div class="bubbles bubble-3"></div>
<div class="bubbles bubble-4"></div>
<div class="bubbles bubble-5"></div>
<div class="bubbles bubble-6"></div>
<div class="bubbles bubble-7"></div>
<div class="bubbles bubble-8"></div>




<% if MyFish.where(alive: true).count == 0 %>
  <%= render "shared/msg_your_fish_died" %>
  <script>
    document.querySelector('.fish-modal').classList.toggle('show-modal')
  </script>
<% end %>

