<div class="container profile-container" style="padding-bottom: 70px">
  <div class="mt-3">
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </div>
  
  <div class="profile-photo container centered">
    
    <% if current_user.facebook_picture_url %>
      <%= image_tag current_user.facebook_picture_url, class: "centered", width:"50%" %>
    <% elsif current_user.avatar %>
      <%= cl_image_tag @user.avatar, class: "avatar-large centered", width:"50%"%>
    <% end %>
    
    <h2><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize  %></h2>

  </div>

  <div class="profile-status container" style="
    margin-top: 8vh;">
    <h2 class="section-title">LEVEL:</h2>
   <!--  <br> -->
    <%= @level.name %>
    <h2 class="section-title">ACHIEVEMENTS: </h2>
      <div class="scrolling-wrapper">
        <% @my_completed_challenges.each do |my_challenge| %>
          <div class="challenge-card" style="width: 240px; margin-right:16px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= my_challenge.challenge.challenge_category.image %>)">
          <%= my_challenge.challenge.name %>
          <p style="font-size: 12px">Completed at: <%= my_challenge.end_time.strftime('%m/%d/%Y') %></p>
          </div>
        <% end %>
      </div>
  </div>
  <!-- uncomment button if we can invite friends with facebook -->
  <!--   <div class="btn-invite-friends" style="margin-top: 8vh;">
    Invite Friends
  </div> -->
</div>



<%= render "shared/navbar" %>

<div class="bubbles bubble-1" style="background-color: #64c4ed;"></div>
<div class="bubbles bubble-2" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-3" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-4" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-5" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-6" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-7" style="background-color: #28C3D4;"></div>
<div class="bubbles bubble-8" style="background-color: #28C3D4;"></div>
